<!--
Author: COC
Author URL: http://checkonclick.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
    <title>@ViewBag.Title | Check On Click | Admin Portal</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="OPD / IPD Appointment System" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

    <!-- Bootstrap Core CSS -->
    <link href="/css2/bootstrap.css" rel='stylesheet' type='text/css' />

    <!-- Custom CSS -->
    <link href="/css2/style.css" rel='stylesheet' type='text/css' />

    <!-- font-awesome icons CSS -->
    <link href="/css2/font-awesome.css" rel="stylesheet">
    <!-- //font-awesome icons CSS-->
    <!-- side nav css file -->
    <link href='/css2/SidebarNav.min.css' media='all' rel='stylesheet' type='text/css' />
    <!-- //side nav css file -->
    <!-- js-->
    <script src="/js2/jquery-1.11.1.min.js"></script>
    <script src="/js2/modernizr.custom.js"></script>

    <!--webfonts-->
    <link href="//fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&amp;subset=cyrillic,cyrillic-ext,latin-ext" rel="stylesheet">
    <!--//webfonts-->
    <!-- Jquery TimePicker -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>

    <!--SweetAlert-->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <!-- Metis Menu -->
    <script src="/js2/metisMenu.min.js"></script>
    <script src="/js2/custom.js"></script>
    <link href="/css2/custom.css" rel="stylesheet">
    <!--//Metis Menu

    <!-- index page sales reviews visitors pie chart -->
    <!-- requried-jsfiles-for owl -->
    <link href="/css2/owl.carousel.css" rel="stylesheet">
    <script src="/js2/owl.carousel.js"></script>
    <link rel="stylesheet" type="text/css" href="/DataTables/datatables.min.css">

    <script type="text/javascript" charset="utf8" src="/DataTables/datatables.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#owl-demo").owlCarousel({
                items: 3,
                lazyLoad: true,
                autoPlay: true,
                pagination: true,
                nav: true,
            });
        });
    </script>
    <!-- //requried-jsfiles-for owl -->
</head>
<body class="cbp-spmenu-push">
    <div class="main-content">
        <div class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
            <!--left-fixed -navigation-->
            <aside class="sidebar-left">
                <nav class="navbar navbar-inverse">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".collapse" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <h1><a class="navbar-brand" href="Index"><span class="fa fa-area-chart"></span> COC<span class="dashboard_text">Admin Portal</span></a></h1>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="sidebar-menu">
                            <li class="header">MAIN NAVIGATION</li>
                            <li class="treeview">
                                <a href="@Url.Action("Index","Admin")">
                                    <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                                </a>
                            </li>
                            <li class="treeview">
                                <a href="@Url.Action("Profile","Admin")">
                                    <i class="fa fa-pie-chart"></i>
                                    <span>Profile</span>
                                </a>
                            </li>
                            <li class="treeview">
                                <a href="">
                                    <i class="fa fa-laptop"></i>
                                    <span>Appointments</span>
                                    <i class="fa fa-angle-left pull-right"></i>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a href="@Url.Action("Appointment","Admin")"><i class="fa fa-angle-right"></i>Pending Appointment</a></li>
                                    <li><a href="@Url.Action("AppointHistory","Admin")"><i class="fa fa-angle-right"></i>Appointment History</a></li>

                                </ul>
                            </li>
                            <li class="treeview">
                                <a href="">
                                    <i class="fa fa-sitemap"></i>
                                    <span>Roles/ Spec</span>
                                    <i class="fa fa-angle-left pull-right"></i>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a href="@Url.Action("Roles","Admin")"><i class="fa fa-angle-right"></i>Roles</a></li>
                                    <li><a href="@Url.Action("Specializations","Admin")"><i class="fa fa-angle-right"></i>Specializations</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="@Url.Action("Doctors","Admin")">
                                    <i class="fa fa-user-md"></i> <span>Doctors</span>
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("SlotDetails","Admin")">
                                    <i class="fa fa-tasks"></i> <span>Slot Details</span>

                                </a>
                            </li>
                            <li class="treeview">
                                <a href="@Url.Action("Patients","Admin")">
                                    <i class="fa fa-bed"></i> <span>Patients</span>
                                </a>
                            </li>
                            <li class="treeview">
                                <a href="@Url.Action("Feedbacks","Admin")">
                                    <i class="fa fa-pencil-square-o"></i> <span>Feedbacks</span>
                                </a>
                            </li>
                            <li class="treeview">
                                <a href="@Url.Action("Query","Admin")">
                                    <i class="fa fa-envelope"></i> <span>Query</span>
                                </a>
                            </li>
                            <li class="treeview">
                                <a href="@Url.Action("UploadDoc","Admin")">
                                    <i class="fa fa-folder"></i> <span>Upload Documents</span>

                                </a>
                            </li>
                            <!-- /.navbar-collapse -->
                        </ul>
                    </div>
                </nav>
            </aside>
        </div>
        <!--left-fixed -navigation-->
        <!-- header-starts -->
        <div class="sticky-header header-section ">
            <div class="header-left">
                <!--toggle button start-->
                <button id="showLeftPush"><i class="fa fa-bars"></i></button>
                <!--toggle button end-->
                <!--notification menu end -->
                <div class="clearfix"> </div>
            </div>
            <div class="header-right">


                <div class="profile_details">
                    <ul>
                        <li class="dropdown profile_details_drop">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <div class="profile_img">
                                    <span class="prfil-img"><img src="@ViewBag.GetImgLink" height="50" width="50" alt=""> </span>
                                    <div class="user-name">
                                        <!--            <p>Name</p> -->
                                        <p>@HttpContext.Current.Session["AdminUserName"].ToString()</p>
                                        <span>Administrator</span>
                                    </div>
                                    <i class="fa fa-angle-down lnr"></i>
                                    <i class="fa fa-angle-up lnr"></i>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                            <ul class="dropdown-menu drp-mnu">
                                <li><i class="fa fa-sign-out"> @Html.ActionLink("Logout", "Logout", "Home") </i></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="clearfix"> </div>
        </div>
        <!-- //header-ends -->
        <!-- main content start-->
        <div id="page-wrapper">
            <div class="main-page">
                <div class="col_3">
                    <a href="@Url.Action("Doctors","Admin")">
                        <div class="col-md-3 widget widget1">
                            <div class="r3_counter_box">
                                <i class="pull-left fa fa-user-md icon-rounded"></i>
                                <div class="stats">
                                    <h5><strong>@ViewBag.getTotalDoctors</strong></h5>
                                    <span>Total</span><br /><span><b>Doctors</b></span>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="@Url.Action("Patients","Admin")">
                        <div class="col-md-3 widget widget1">
                            <div class="r3_counter_box">
                                <i class="pull-left fa fa-users user1 icon-rounded"></i>
                                <div class="stats">
                                    <h5><strong>@ViewBag.getTotalPatients</strong></h5>
                                    <span>Total</span><br /><span><b>Patients</b></span>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="@Url.Action("Appointment","Admin")">
                        <div class="col-md-3 widget widget1">
                            <div class="r3_counter_box">
                                <i class="pull-left fa fa-tasks user2 icon-rounded"></i>
                                <div class="stats">
                                    <h5><strong>@ViewBag.getTotalAppointmentsRemaining</strong></h5>
                                    <span>
                                        <b>Pending</b> Appointments
                                    </span>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="@Url.Action("AppointHistory","Admin")">
                        <div class="col-md-3 widget widget1">
                            <div class="r3_counter_box">
                                <i class="pull-left fa fa-check dollar1 icon-rounded"></i>
                                <div class="stats">
                                    <h5><strong>@ViewBag.getTotalAppointmentsDone</strong></h5> <span>
                                        <b>Finished</b> Appointments
                                    </span>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="@Url.Action("AppointHistory","Admin")">
                        <div class="col-md-3 widget">
                            <div class="r3_counter_box">
                                <i class="pull-left fa fa-th-large  icon-rounded"></i>
                                <div class="stats">
                                    <h5><strong>@ViewBag.getTotalAppointments</strong></h5>
                                    <span><b>Total Appointments</b></span>
                                </div>
                            </div>
                        </div>
                    </a>
                    <div class="clearfix"> </div>
                </div>


                <!-- for amcharts js -->
                <script src="/js2/amcharts.js"></script>
                <script src="/js2/serial.js"></script>
                <script src="/js2/export.min.js"></script>
                <link rel="stylesheet" href="/css2/export.css" type="text/css" media="all" />
                <script src="/js2/light.js"></script>
                <!-- for amcharts js -->

                <script src="/js2/index1.js"></script>


                @RenderBody()


            </div>
        </div>


        <!--footer-->
        <div class="footer">
            <p>&copy; Check On Click. All Rights Reserved</p>
        </div>
        <!--//footer-->
    </div>

    <!-- new added graphs chart js-->

    <script src="/js2/Chart.bundle.js"></script>
    <script src="/js2/utils.js"></script>

    <!-- new added graphs chart js-->
    <!-- Classie --><!-- for toggle left push menu script -->
    <script src="/js2/classie.js"></script>
    <script>
        var menuLeft = document.getElementById('cbp-spmenu-s1'),
            showLeftPush = document.getElementById('showLeftPush'),
            body = document.body;

        showLeftPush.onclick = function () {
            classie.toggle(this, 'active');
            classie.toggle(body, 'cbp-spmenu-push-toright');
            classie.toggle(menuLeft, 'cbp-spmenu-open');
            disableOther('showLeftPush');
        };


        function disableOther(button) {
            if (button !== 'showLeftPush') {
                classie.toggle(showLeftPush, 'disabled');
            }
        }
    </script>
    <!-- //Classie --><!-- //for toggle left push menu script -->
    <!--scrolling js-->
    <script src="/js2/jquery.nicescroll.js"></script>
    <script src="/js2/scripts.js"></script>
    <!--//scrolling js-->
    <!-- side nav js -->
    <script src='/js2/SidebarNav.min.js' type='text/javascript'></script>
    <script>
        $('.sidebar-menu').SidebarNav()
    </script>
    <!-- //side nav js -->
    <!-- for index page weekly sales java script

    <!-- //for index page weekly sales java script -->
    <!-- Bootstrap Core JavaScript -->
    <script src="/js2/bootstrap.js"></script>
    <!-- //Bootstrap Core JavaScript -->

</body>
</html>
